@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&family=Splash&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 background-color: #6826ad;
 background-image: url("./background.jpg") ;
 background-blend-mode: multiply;
}


.head{
    font-family: 'Archivo', sans-serif;
    font-size: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #f6e7d8;
}
.cursive{
    font-family: 'Splash', cursive;
    color: yellowgreen;
    text-align: center;
}

.btn_grp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 1rem;
}

.buttons{
    width:10%;
    color: #f6e7d8;
    margin: 5px 1px;
    padding: 1.5rem;
    border-radius: 10px;
    text-align: center;
    border: 3px solid greenyellow;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 500ms;

}
.buttons kbd{
    font-family: 'Splash', cursive;
    line-height: 1.2rem;

}

.playing,.buttons:hover{
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
    transform: scale(1.1);

}



.buttons:active{
    position: relative;
    top:2px;
}


.sub_text{
    display: block;
    color:yellowgreen;
    font-family: 'Archivo', sans-serif;

}


@media screen and (max-width: 1000px) {
    .btn_grp{
       flex-direction: column;
        margin:0;
    }
    .buttons{
        width: 50%;
    }

}